<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Home Page</title>
</head>
<body>
    <header>
        <h1>Welcome to Your Website</h1>
    </header>
    
    <section>
        <p>This is the home page of your website.</p>
        <!-- Добавьте здесь свой контент -->
    </section>
    
    <footer>
        <p>&copy; 2023 Your Website</p>
    </footer>
    <a href="{% url 'registrtation' %}">Registrtation</a>
    <a href="{% url 'change_password' %}">Change password</a>
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'token_refresh' %}">Refresh token</a>
    <a href="{% url 'user_list' %}">User list</a>
</body>
</html>